container_commands:
    00_download_augeas:
        command: "sudo yum install -y python3 augeas-libs"
        ignoreErrors: true
    10_remove_certbot:
        command: "sudo yum remove certbot"
        ignoreErrors: true
    20_environment_variable:
        command: "sudo python3 -m venv /opt/certbot/"
        ignoreErrors: true
    30_environment_variable_sec_step:
        command: "sudo /opt/certbot/bin/pip install --upgrade pip"
        ignoreErrors: true
    40_set_command:
        command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
        ignoreErrors: true
    50_nginx_cert:
        command: "sudo certbot -n -d smartfactoryapi.sa-east-1.elasticbeanstalk.com --nginx --agree-tos --email tomasmoreira04@gmail.com"
        ignoreErrors: true